<div class="flex h-12 items-center gap-4 px-1">
  <div class="flex items-center gap-2">
    <app-chord-filter></app-chord-filter>
    <app-chord-search></app-chord-search>
  </div>
  <div class="flex items-center gap-2">
    <div class="text-md">
      {{ "chords-page.table-count-summary" | translate: chordCountSummary() }}
    </div>
    @if (selectedChordNumber() === 0) {
      <button
        type="button"
        mat-icon-button
        (click)="loadDeviceLayoutAndChordsFromDevice()"
        [matTooltip]="
          'general.load-device-layout-and-chords-from-device' | translate
        "
      >
        <mat-icon>
          {{ "keyboard_external_input" | iconGuard }}
        </mat-icon>
      </button>
      @if (isDevMode) {
        <button
          mat-flat-button
          color="primary"
          (click)="openFileSelectionDialog()"
        >
          {{ "chords-page.load-chords-from-file-button" | translate }}
        </button>
        <input
          #fileInput
          class="hidden"
          type="file"
          accept=".json"
          [attr.aria-label]="'chords-page.file-input-aria-label' | translate"
          (change)="onFileInputChange()"
        />
      }
    } @else {
      <mat-chip-option>
        {{
          "chords-page.selected-chord-chip-text"
            | translate: { count: selectedChordNumber() }
        }}
        <button matChipRemove (click)="clearSelectedState()">
          <mat-icon>{{ "cancel" | iconGuard }}</mat-icon>
        </button>
      </mat-chip-option>
      <mat-icon
        [class.opacity-20]="!isAllSelectedChordsBookmarked()"
        [class.text-chara-500]="isAllSelectedChordsBookmarked()"
        class="cursor-pointer hover:opacity-100"
        (click)="
          setSelectedChordsBookmarkedState(!isAllSelectedChordsBookmarked())
        "
        [matTooltip]="
          (isAllSelectedChordsBookmarked()
            ? 'chords-page.unbookmark-selected'
            : 'chords-page.bookmark-selected'
          ) | translate
        "
        >{{ "bookmark" | iconGuard }}</mat-icon
      >
      <mat-icon
        [class.opacity-20]="!isAllSelectedChordsBlocked()"
        [class.text-red-500]="isAllSelectedChordsBlocked()"
        class="cursor-pointer hover:opacity-100"
        (click)="setSelectedChordsBlockedState(!isAllSelectedChordsBlocked())"
        [matTooltip]="
          (isAllSelectedChordsBlocked()
            ? 'chords-page.unblock-selected'
            : 'chords-page.block-selected'
          ) | translate
        "
        >{{ "block" | iconGuard }}</mat-icon
      >
      <mat-icon
        class="cursor-pointer opacity-20 hover:opacity-100"
        (click)="openCustomPracticeSettingDialog()"
        [matTooltip]="'chords-page.custom-practice' | translate"
        >{{ "exercise" | iconGuard }}</mat-icon
      >
    }
  </div>
</div>
<ag-grid-angular
  class="flex-1"
  [theme]="tableTheme"
  [rowData]="chordDataListWithLabelStateAndStatistic()"
  [columnDefs]="colDefs"
  [localeText]="localeText()"
  [rowSelection]="rowSelection"
  [getRowId]="getRowId"
  [headerHeight]="40"
  [isExternalFilterPresent]="isExternalFilterPresent"
  [doesExternalFilterPass]="doesExternalFilterPass"
  [animateRows]="false"
  (selectionChanged)="onSelectionChanged($event)"
  (gridReady)="onGridReady($event)"
/>
