<app-cclite-layout
  class="absolute -z-10 h-full w-full opacity-10"
  [highlightPositionCodes]="highlightPositionCodes"
></app-cclite-layout>
<main class="flex h-full flex-col items-center justify-center gap-4 p-4">
  <header class="text-center">
    <h1 class="mb-0 text-4xl text-chara-500">
      {{ "home-page.website-name" | translate }}
    </h1>
  </header>
  <div class="flex gap-1">
    <span>{{ "home-page.summary.0" | translate }}</span>
    <div class="cursor-pointer font-bold">
      {{ "home-page.summary.1" | translate }}
    </div>
    <div>{{ "home-page.summary.2" | translate }}</div>
  </div>
  <div>
    <button
      type="button"
      matButton="outlined"
      color="primary"
      (click)="loadDeviceLayoutAndChordsFromDevice()"
    >
      <mat-icon>{{ "keyboard_external_input" | iconGuard }}</mat-icon>
      {{ "general.load-device-layout-and-chords-from-device" | translate }}
    </button>
  </div>
  <div>
    <a
      href="https://github.com/andy23512/chara-lite"
      target="_blank"
      rel="noopener"
    >
      <button type="button" mat-button>
        <mat-icon>{{ "code" | iconGuard }}</mat-icon>
        {{ "home-page.source-code" | translate | realTitleCase }}
      </button>
    </a>
  </div>
</main>
<div class="absolute bottom-0 w-full text-center text-chara-500 opacity-80">
  ★ {{ "home-page.remark" | translate }} ★
</div>
