<h2 mat-dialog-title class="!text-xl">
  {{ "custom-practice-setting-dialog.title" | translate | realTitleCase }}
</h2>
<mat-dialog-content>
  <label id="hint-display-mode-label">{{
    "custom-practice-setting-dialog.hint-display-mode.label"
      | translate
      | realTitleCase
  }}</label>
  <br />
  <mat-radio-group
    aria-labelledby="hint-display-mode-label"
    [ngModel]="hintDisplayMode()"
    (ngModelChange)="onHintDisplayModeChange($event)"
  >
    @for (mode of hintDisplayModes; track mode.value; let isLast = $last) {
      <mat-radio-button [value]="mode.value">{{
        mode.name | translate
      }}</mat-radio-button>
      @if (!isLast) {
        <br />
      }
    }
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>
    {{ "general.cancel-action" | translate | realTitleCase }}
  </button>
  <button type="button" mat-button (click)="onEnterButtonClick()">
    {{ "general.enter-action" | translate | realTitleCase }}
  </button>
</mat-dialog-actions>
