<mat-form-field class="compact-form-field" subscriptSizing="dynamic">
  <mat-icon matPrefix class="!pl-1 !pr-0">{{ "search" | iconGuard }}</mat-icon>
  <input
    matInput
    [ngModel]="searchQuery()"
    (ngModelChange)="setSearchQuery($event)"
    [placeholder]="'chord-search.placeholder' | translate"
  />
  <button
    matSuffix
    mat-icon-button
    (click)="isSearchSettingOpen = !isSearchSettingOpen"
    type="button"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    <mat-icon>{{ "tune" | iconGuard }}</mat-icon>
  </button>
</mat-form-field>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isSearchSettingOpen"
  (detach)="isSearchSettingOpen = false"
  (overlayOutsideClick)="isSearchSettingOpen = false"
>
  <div class="space-y-2 rounded-md bg-gray-900 px-3 py-2 text-white shadow-md">
    <div>
      <mat-slide-toggle
        [ngModel]="chordSearchChordInputEnabled()"
        (ngModelChange)="onChordSearchSettingChange('chordInput', $event)"
        [disabled]="
          chordSearchOnlyOneEnabled() && chordSearchChordInputEnabled()
        "
        >{{ "chord-search.setting.chord-input" | translate }}</mat-slide-toggle
      >
    </div>
    <div>
      <mat-slide-toggle
        [ngModel]="chordSearchChordOutputEnabled()"
        (ngModelChange)="onChordSearchSettingChange('chordOutput', $event)"
        [disabled]="
          chordSearchOnlyOneEnabled() && chordSearchChordOutputEnabled()
        "
        >{{ "chord-search.setting.chord-output" | translate }}</mat-slide-toggle
      >
    </div>
  </div>
</ng-template>
